* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  color: hsl(184, 14%, 56%);
}
html {
  font-size: 62.5%;
}
body {
  background-color: hsl(185, 41%, 84%);
  margin: 10% auto;
  padding: 0 3.2rem;
  height: 38rem;
  max-width: 80rem;
  font-size: 2.4rem;
}
h2 {
  color: hsl(172, 67%, 45%);
}
h6 {
  font-size: 1.5rem;
  color: hsl(189, 41%, 97%);
}
p {
  font-size: 1rem;
}
label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 10px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: hsl(189, 41%, 97%);
  padding: 2rem;
  gap: 4rem;
  justify-content: space-between;
}

/* LEFT SECTION */

.left-section {
  flex: 1;
}
.left-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
}

/* .bill {
  margin-bottom: 1.2rem;
} */

/* nav {
  margin-bottom: 1.2rem;
} */

input[type="text"] {
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  background-color: #e7f5ff;
  border-radius: 3px;
  text-align: right;
  padding: 8px;
  transition: all 0.3s;
  border-style: none;
  outline: none;
  width: 100%;
  font-size: 1.8rem;
}

input[type="text"]:focus {
  box-shadow: inset 0 0 0 2px hsl(172, 67%, 45%);
  background-color: hsl(189, 41%, 97%);
  position: 7px 7px;
}

.bill input {
  background-image: url("\\images\\icon-dollar.svg");
  background-position: 9px 12px;
  background-size: 1rem;
  background-repeat: no-repeat;
}

input.custom-btn[type="text"]::placeholder {
  text-align: center;
  font-size: 2rem;
  color: hsl(184, 14%, 56%);
}
.people-count input {
  background-image: url("\\images\\icon-person.svg");
  background-position: 9px 14px;
  background-size: 1rem;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
  text-align: center;
  font-size: 1.8rem;
}

.percent-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

.btn:hover,
.btn:active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-weight: 700;
}

.selected {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-weight: 700;
}

/* RIGHT SECTION */

.right-section {
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.8rem;
  height: 100%;
}
.amount-container {
  display: flex;
  justify-content: space-between;
}
.total-container {
  display: flex;
  justify-content: space-between;
}
.amount,
.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  height: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  transform: translate(0, 275%);
}

.reset-btn:hover {
  background-color: hsl(185, 41%, 84%);
}

/* FOOTER */

.attribution {
  font-size: 2rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* MEDIA QUERIES */

@media (max-width: 40em) {
  html {
    font-size: 0.5rem;
  }
}

@media (max-width: 29em) {
  html {
    font-size: 0.4rem;
  }
  body {
    max-width: 50rem;
    height: 80rem;
    margin: 10% auto;
    padding: 0 1.6rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: hsl(189, 41%, 97%);
    justify-content: space-between;
  }
}
